<h1>{{movie.movie_title}}</h1>
<p><strong>Released:</strong> {{movie.Released}}</p>
<p><strong>Genre:</strong> {{movie.genre}}</p>
<p><strong>Director:</strong> {{movie.director}}</p>
<form method="POST" action="/movies/{{movie._id}}?_method=PUT">
  <!-- upgrade: implement update form -->
</form>
